.formContainer {
    max-width: 535px;
    margin: 2.5rem auto 2.5rem;

}

.formTitle {
    font-weight: bold !important;
    text-align: left;
}

@media screen and (max-width: 900px) {
    .formContainer{
        width: 345px !important;
    }
}






