.formContainer {
    width: 535px;
    margin: 2.5rem auto 0;
    padding: 1rem;
}

.formTitle {
    font-weight: bold;
    text-align: left;
}

.inputField .MuiOutlinedInput-root {
    height: 46px;
    padding: 0;
}

.inputField .MuiOutlinedInput-input {
    padding: 12px 14px;
    box-sizing: border-box;
    color: #555;
}


.inputField .MuiInputLabel-root {
    color: #555 ;
}

.inputField .MuiInputLabel-root.Mui-focused {
    color: #555;
}

.inputAdornment {
    margin-right: 4px;
}





