.langSwitcher {
    display: flex;
    width: 60px !important;
    height: 28px !important;
    border-radius: 14px;
    background-color: rgb(234, 239, 246);
    border: 1px solid rgb(215, 225, 239);
    position: relative;
    cursor: pointer;
}


.langSwitcher::before {
    content: '';
    position: absolute;
    top: 50%;

    width: 32px !important;
    height: 32px !important;
    transform: translateY(-50%);
    border: 1px solid rgb(155, 164, 171);
    background-color: rgb(253, 253, 253);
    border-radius: 50%;
    z-index: 1;
    transition: transform 0.3s ease;

}

.langOption {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4a4a4a;
    font-weight: normal;
    font-size: 14px;
    z-index: 2;
    transition: color 0.3s ease;
}


.langOneActive::before {
    transform: translate(-1px, -50%);
    left: 0;
}

.langTwoActive::before {
    left: 28px;
    transform: translate(1px, -50%);
}

.langOneActive .langOption:nth-child(1),
.langTwoActive .langOption:nth-child(2) {
    color: #333;
    font-weight: bold;
}