.themeToggleButton {
    outline: none;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;

    color: var(--text-color);
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxDemo{
    padding-right: 30px !important;
}

@media screen and (max-width: 810px){
    .boxDemo{
        padding-right: 0 !important;
    }
}
