.cardLink {
    text-decoration: none;
    color: inherit;
    display: block;
    height: 100%;
}

.cardContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color-card);
}

.cardImage {
    width: 100%;
    height: 270px;
    object-fit: cover;
}

.cardTitle {
    font-weight: 500;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    background-color: var(--bg-color-card-text);
    width: 94%;
}