.container {
    gap: 20px;
}

.footerStoreButtons {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin: 16px 0;
    box-sizing: border-box;

}

.storeButton {
    background-color: #000000 !important;
    color: white;
    width: 130px;
    height: 40px;
    border-radius: 5px;
    min-width: 130px;
    border: 1px solid #3a3a3a;
    overflow: hidden;
    gap: 4px;
    padding: 0 12px;
}

.storeButton:hover {
    transform: scale(1.06);
}

.contentWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.storeIcon {
    font-size: 24px;
    display: flex;
    align-items: center;
}


.storeButtonText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    line-height: 1;
    text-transform: none;
}

.storeButtonSubtext {
    font-weight: 400;
    opacity: 0.8;
    white-space: nowrap;
}

.storeButtonIcon{
    padding: 4px;
}

.storeButtonMaintext {
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 1.1 !important;
    white-space: nowrap;

}

@media screen and (max-width: 900px) {
    .storeButton {
        width: 112px;
        height: 38px;
        border-radius: 4px;
    }

    .storeIcon {
        width: 21px;
        height: 21px;
    }
    .storeButtonMaintext {
        font-size: 12px !important;

    }
    .storeButtonSubtext{
        font-size: 9px !important;
    }

}

