.card {
    margin: 7px 0;
    background-color: var(--card-bg-color) !important;
    border: 0.5px solid #e1e0e0;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 0 !important;
}

.text{
    color: var(--text-color);
}

.container{
    position: relative;
    width: 100%;
}

.productInfoBox{
    width: auto;
}


