.card {
    max-width: 260px;
    margin: 7px 0;
    background-color: var(--card-bg-color) !important;
}

.text{
    color: var(--text-color);
}

.container{
    position: relative;
    width: 100%;
}

.productInfoBox{
    width: auto;
}

@media screen and(max-width: 900px) {
    .card{
        max-width: 130px;
    }

}


