
.card {
    max-width: 260px;
    margin: 7px;
    background-color: var(--card-bg-color) !important;
}

.text{
    color: var(--text-color);
}






@media screen and (max-width: 450px)  {
    .card{
        /*width: 187px;*/
    }

}



