.pageContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, #f5f7fa, #c3cfe2);
    font-family: 'Courier New', monospace;
    color: #34495e;
    text-align: center;
}

.title {
    font-size: 3rem;
    margin-bottom: 20px;
}

.subtitle {
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.dotsContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.dot {
    width: 20px;
    height: 20px;
    background-color: #34495e;
    border-radius: 50%;
    animation: dotBounce 1.2s infinite ease-in-out;
}

.dot:nth-child(2) {
    animation-delay: 0.2s;
}
.dot:nth-child(3) {
    animation-delay: 0.4s;
}
@keyframes dotBounce {
    0%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-15px);
    }
}



@media screen and (max-width: 900px) {
    .title{
        font-size: 2rem;
    }
    .subtitle{
        font-size: 1rem;
    }
    .dot{
        width: 10px;
        height: 10px;
    }
}