.categoriesSection {
}

.categoriesGrid {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(5, 1fr);
}

@media (max-width: 992px) {
    .categoriesGrid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .categoriesGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 400px) {
    .categoriesGrid {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}


@media (max-width: 768px) {
    .categoriesGrid {
        display: flex;
        gap: 10px;
        overflow-x: auto;
        width: 100%;
        scroll-snap-type: x mandatory;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;

    }
    .categoriesGrid::-webkit-scrollbar {
        height: 10px;
    }
    .categoriesGrid::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 6px;
    }

    .categoriesGrid::-webkit-scrollbar-track {
        background-color: #ffffff;
        border-radius: 6px;
    }

    .categoriesGrid > * {
        flex: 0 0 calc(50% - 5px);
        max-width: calc(50% - 5px);
        scroll-snap-align: start;
    }
}


