.container {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.accordion {
    box-shadow: none !important;
    background-color: var(--acc-bg) !important;
    border: none !important;
}


.accordionSummary {
    padding: 0 !important;
    background-color: var(--accordion-bg) !important;

}

.containerButton {
    margin: 20px 0;
}

.boxButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border: 1px solid #b5b5b5;
    border-radius: 6px;
    background-color: var(--accordion-bg);
}

.typography {
    font-size: 18px;
}

.boxCopyright {
    border-top: 1px solid #b5b3b3;
    padding-top: 10px;
}

.textCopyright {
    font-size: 12px;
    color: #6b6c6e;
    margin-top: 10px;
}

.accordionDetails {
    padding: 0 !important;
    margin: 0 0 !important;
    background-color: #e2e1e1 !important;
    border: none !important;
}

.boxListUl {
    background-color: var(--list-bg) !important;
    list-style: none;
    /*padding: 0;*/
    margin: 0;
    color: var(--text-color);
    padding: 0 4px;
}

.boxListLi {
    margin-bottom: 8px;
}

.link {
    text-decoration: none;
    color: inherit;
}

.link:hover {
    text-decoration: underline;
}


.footerPayments {
    margin-top: 50px;
}

.title{
    color: var(--text-color);
    padding: 0 4px;
}



@media screen and (max-width: 576px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .footerPayments {
        margin: -10px 0 10px 0;

    }
}

