.appBarWrapper {
    flex-grow: 1;
}

.customAppBar {
    background-color: var(--header-footer-bg) !important;
    color: var(--text-color) !important;
    box-shadow: none !important;
}

.flexCenter {
    display: flex;
    align-items: center;
}

.menuButton {
    margin-right: 8px;
}

.catalogTitle {
    display: block;
    cursor: pointer;
}

@media (max-width: 600px) {
    .catalogTitle {
        display: none;
    }
}

.subcategoryBox {
    white-space: normal;
    word-break: break-word;
    min-width: 150px;
}

