.appBarWrapper {
    flex-grow: 1;
}

.customAppBar {
    background-color: var(--header-footer-bg) !important;
    color: var(--text-color) !important;
    box-shadow: none !important;
}

.flexCenter {
    display: flex;
    align-items: center;
}

.catalogTitle {
    display: block;
    cursor: pointer;
}

@media (max-width: 600px) {
    .catalogTitle {
        display: none;
    }
}


