.actions {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.favorite {
    color: #fd3579;
}

.compareActive {
    color: #fd3579 !important; /* розовый цвет */
}


.actionButton {
    background-color: #eaeff6 !important;
    color: #1b1b1b !important;
}

.inCartActive {
    background-color: #a83f63 !important;
    color: #fff !important;
}


