.footerPayments {
    display: flex;
    gap: 16px;
    margin-bottom:10px
}

.footerPaymentIcons {
    display: flex;
    gap: 8px;
}

.footerPaymentIcon {
    height: 20px;
}

@media screen and (max-width: 500px) {
    .footerPaymentIcon {
        height: 14px;
    }

}