.cartItem {
    display: flex;
    align-items: center;
    background-color: var(--card-bg-color);
    border-radius: 8px;
    margin-bottom: 16px;
    transition: background 0.2s ease;
    padding: 7px;
    height: auto;
    gap: 12px;

}


.checkboxContainer {
    height: 40px;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    padding: 8px 22px 8px 18px;
    background-color: var(--card-bg-color);
    flex-shrink: 1;
    min-width: 0;
}


.checkboxContainer > * {
    min-width: 0;
}


.image {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 6px;
}

.cartSummary {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-grow: 1; /* Даем ему расти */
    min-width: 0;
}

.name {
    color: var(--text-color);
    flex: 1;
    margin-left: 5% !important;
    font-weight: 500;
}

.quantity {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    width: 96px;
    height: 32px;
    background-color: var(--bg-color-caunter);
    margin: 0 10%;

}

.quantity button {
    width: 32px;
    height: 32px;
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
}

.quantity span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    padding: 1px 2px;
    font-weight: bold;

}

.price {
    font-weight: 600;
    min-width: 80px;
    text-align: right;
    margin: 0 20px 0 0 !important;
}

.actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    gap: 16px;
}

.cartSummaryBox {
    flex-shrink: 0;
    flex-basis: 300px;
    width: 300px;
}


@media screen and (max-width: 550px) {
    .image {
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 6px;
    }
}