.cartItem {
    display: flex;
    align-items: center;
    background-color: var(--card-bg-color);
    border-radius: 8px;
    margin-bottom: 16px;
    transition: background 0.2s ease;
    width: 716px;
    padding: 7px 0;
    height: 141px;
}



.checkboxContainer {
    width: 674px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    padding: 8px 22px 8px 20px;
    margin: 0 212px ! important;
    background-color: var(--card-bg-color);
}



.image {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 6px;
}

.name {
    color: var(--text-color);
    flex: 1;
    margin-left: 5% !important;
    font-weight: 500;
}

.quantity {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    width: 96px;
    height: 32px;
    background-color: var(--bg-color-caunter);
    margin: 0 10%;

}

.quantity button {
    width: 32px;
    height: 32px;
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
}

.quantity span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    padding: 1px 2px;
    font-weight: bold;

}

.price {
    font-weight: 600;
    min-width: 80px;
    text-align: right;
    margin: 0 20px 0 0 !important;
}

.actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    gap: 16px;
}
