.drawerContainer {
    width: 1100px;
    min-height: 400px;
    height: auto;
    display: flex;
    color: var(--drawer-text);
}

.desktopPaper {
    background-color: var(--drawer-bg);
    color: var(--drawer-text);
}

/*МОБИЛЬНЫЕ*/

.containerIcon{
    margin-right: 16px;
    display: flex;
    align-items: flex-start;
}

.mobilePaper {
    width: calc(100% - 70px);
    max-width: calc(100% - 70px);
}

.closeIcon{
    position: fixed;
    top: 35px;
    right: 16px;
    left: auto;
    margin-left: 0;
    z-index: 1301;
    color: #fff !important;
    width: 35px !important;
    height: 35px !important;
}




.containerMobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.authItem{
    background-color: #eaeff6;
    height: 54px;
}

.boxButtons{
    background-color: #eaeff6;
}

.mirrorIcon {
    transform: scaleX(-1);
}

.logoContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo {
    height: 50px !important;
}

    /*ДЕСКТОПНЫЕ*/

.drawerLeftColumn {
    min-width: 150px;
    word-break: break-word;
    border-right: 1px solid #ccc;
}

.drawerRightColumn {
    flex-grow: 1;
    max-width: 900px;
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 8px;
}

.subcategoryTitle {
    font-weight: bold !important;
    margin-bottom: 4px !important;
}

.subcategoryChildren {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.noChildren {
    font-style: italic;
    color: var(--text-secondary);;
}

.moreButton {
    justify-content: flex-start;
    padding: 0;
    min-width: 0;
    text-transform: none !important;
    font-size: 14px;
    width: 30px;
}

.noSubcategories {
    color: var(--text-secondary);
    grid-column: 1 / -1;
}

.linkReset {
    text-decoration: none;
    color: inherit;
}

.linkReset:hover {
    color: #2479f3;
    text-decoration: underline;
}

















