.drawerContainer {
    width: 1100px;
    min-height: 400px;
    height: auto;
    display: flex;
    color: var(--drawer-text);
    background-color: var(--header-footer-bg);
}

.desktopPaper {
    background-color: var(--drawer-bg);
    color: var(--drawer-text);
}

/*МОБИЛЬНЫЕ*/

.containerIcon{
    margin-right: 16px;
    display: flex;
    align-items: flex-start;
}

.container{
    display: flex;
    gap: 16px;
    align-items: center;
}

.text{
    color: var(--drawer-text);
}

.mobilePaper {

    background-color: var(--mobile-bg-paper) !important;
    width: calc(100% - 70px);
    max-width: calc(100% - 70px);
    padding: 0 !important;
}


.closeIconBox{
    background-color: #bd0a0a;
}

.closeIcon{
    position: fixed;
    top: 25px;
    right: 12px;
    left: auto;
    margin-left: 0;
    z-index: 1301;
    color: #fff !important;
    width: 35px !important;
    height: 35px !important;
}



.listItemButton {
    display: flex;
    align-items: center;
}

.leftIcon {
    display: flex;
    margin-right: 12px;
}

.text {
    flex: 1;
}

.rightIcon {
    display: flex;
}


.containerMobile {
    display: flex;
    align-items: center;
    padding: 4px 0;
}

.authItem{
    background-color: var(--mobile-h-f-bg-paper);
    height: 54px;
}

.boxButtons{
    background-color: var(--mobile-h-f-bg-paper);
    padding: 16px;
}

.boxCounter{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fb3578;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 2px;

}

.mirrorIcon {
    transform: scaleX(-1);
    padding: 0 !important;
}

.logoContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: 16px;
}

.logo {
    height: 50px !important;
}




    /*ДЕСКТОПНЫЕ*/

.drawerLeftColumn {
    min-width: 150px;
    word-break: break-word;
    border-right: 1px solid #ccc;

}

.drawerRightColumn {
    flex-grow: 1;
    max-width: 900px;
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 8px;
}

.subcategoryTitle {
    font-weight: bold !important;
    margin-bottom: 4px !important;
}

.subcategoryChildren {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.noChildren {
    font-style: italic;
    color: var(--text-secondary);;
}

.moreButton {
    justify-content: flex-start;
    padding: 0;
    min-width: 0;
    text-transform: none !important;
    font-size: 14px;
    width: 30px;
}

.noSubcategories {
    color: var(--text-secondary);
    grid-column: 1 / -1;
}

.linkReset {
    text-decoration: none;
    color: inherit;
}

.linkReset:hover {
    color: #2479f3;
    text-decoration: underline;
}

.count{
    color: white;
    /*color: var(--text-secondary);*/
}

















