.navLinks {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navLink {
    text-decoration: none;
    color: var(--text-color);
    display: block;
    font-size: 16px;
    padding: 8px 16px;
    cursor: pointer;
}

@media (max-width: 991px) {
.navLink{
    padding: 4px 8px;
}
}