.footer {
    background-color: var(--header-footer-bg);
    padding-top: 20px;

}

.footerTitle {
    font-weight: bold !important;
    color: var(--text-color);
}

.footerSocials {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
}

.footerCopyright {
    margin-top: 48px;
    color: var(--text-color);
}

.title{
    font-size: 12px !important;
}


@media screen and (max-width: 500px) {
    .footerTitle {
        font-size: 15px !important;
    }
}