.footer {
    background-color: var(--header-footer-bg);
    padding-top: 50px;
    width: 1400px;
    margin: 0 auto
}

.footerTitle {
    font-weight: bold !important;
    color: var(--text-color);
}

.footerSocials {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
}

.footerCopyright {
    margin-top: 48px;
    color: var(--text-color);
}
