.container {
    margin: 0 auto;
}

.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-top: 40px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: var(--lang-text)
}

.image {
    width: 500px;
    margin-bottom: 40px;
    display: block;
}

.text{
    text-align: center;
}

@media screen and (max-width:500px ) {
    .title {
        font-size: 1.5rem;
    }
    .image {
        width: 300px !important;
    }
}
