.appBar {
    background-color: transparent !important;;
    box-shadow: none !important;
}

.logo {
    display: flex;
    width: 250px;
    height: 60px;
    padding-right: 15px;
    margin-right: 8px;
}








