.categorySection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.categoryTitle {
    margin-top: 50px;
    margin-bottom: 8px;
}

.productList {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

@media screen and (max-width: 1200px) {
    .productList{
        grid-template-columns: repeat(4, 1fr);
    }

}

@media screen and (max-width: 992px) {
    .productList{
        grid-template-columns: repeat(3, 1fr);
    }

}

@media screen and (max-width: 768px)  {
    .productList{
        grid-template-columns: repeat(2, 1fr);
    }
}
