.box{
    padding: 0 16px;
}

.container {
    display: flex;
    margin: 16px 0;
    min-height: 50vh;
    width: 100%;
    gap: 20px;
    background-color: #efff1d;


}

.containerCheckbox {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #cd1b1b;
}

.button {
    color: #fb3578 !important;
    text-transform: none !important;
}
.title{
    margin: 16px 0 !important;
}


.emptyText {
    margin-left: 10px !important;
    color: var(--color-empty-text);
    background-color: var(--bg-empty-text);
    border-radius: 5px;
    width: 1259px;
    height: 48px;
    display: flex;
    align-items: center;
    padding-left: 12px;
}

.productsList {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
}

.productsList > * {
    flex-grow: 0;
    flex-shrink: 0;
}


.cartSummaryBox{
    margin-top: -76px;
    display: flex;
}

@media screen and (max-width: 900px) {
    .container {
        /*width: 100%;*/
        flex-direction: column;
    }
    .cartSummaryBox{
        margin-top: 20px;
        align-items: center;
        /*width: 100%;*/

    }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
    .cartSummaryBox{
        display: flex;
        flex-wrap: wrap;
    }
}
