/*.box {*/
/*    padding: 0 16px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: space-between;*/
/*}*/


/*.container {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    max-width: 900px;*/
/*    width: 100%;*/
/*    gap: 16px;*/
/*}*/

/*.containerCheckbox {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    border-radius: 8px;*/
/*    box-sizing: border-box;*/
/*    width: 100%;*/
/*    min-width: 0;*/
/*}*/

/*.productContainer {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    flex-wrap: wrap;*/
/*    gap: 20px;*/
/*}*/

/*.textContainerEmpty {*/
/*    max-width: 1370px;*/
/*    margin: 0 16px;*/
/*    height: 30vh;*/
/*}*/

/*.button {*/
/*    color: #fb3578 !important;*/
/*    text-transform: none !important;*/
/*}*/

/*.title {*/
/*    margin: 16px !important;*/
/*}*/


/*.emptyText {*/
/*    color: var(--color-empty-text);*/
/*    background-color: var(--bg-empty-text);*/
/*    border-radius: 5px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    padding: 12px 20px !important;*/
/*}*/

/*.productsList {*/
/*    display: grid;*/
/*    grid-template-columns: repeat(5, 1fr);*/
/*    gap: 1px;*/
/*    width: auto;*/
/*    padding: 0 16px 16px 16px;*/
/*}*/


/*@media screen and (max-width: 1024px) {*/
/*    .productsList {*/
/*        grid-template-columns: repeat(3, 1fr);*/
/*    }*/
/*}*/

/*@media screen and (max-width: 600px) {*/
/*    .productsList {*/
/*        grid-template-columns: repeat(2, 1fr);*/
/*        gap: 0;*/
/*    }*/

/*    .container {*/
/*        width: 100%;*/
/*        padding: 0;*/
/*    }*/
/*}*/


.box{
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*height: 50vh;*/
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 66%;


    flex-grow: 1;
    flex-basis: 645px;
    min-width: 0;
}

.containerCheckbox {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-sizing: border-box;
    width: 100%;
    min-width: 0;
    margin: 0 0 15px !important;

}

.productContainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.button {
    color: #fb3578 !important;
    text-transform: none !important;
}
.title{
    margin: 16px !important;
}


.emptyText {
    color: var(--color-empty-text);
    background-color: var(--bg-empty-text);
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 12px 20px !important;


}

.textContainer{
    margin: 0 16px;

}

.productsList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1px;
    margin-left: 16px;
}

.productsList > * {
    flex-grow: 0;
    flex-shrink: 0;
}




@media screen and (max-width: 887px) {
    .cartSummaryBox{
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
    }
    .container {
        width: 100%;
        min-width: 100%;
    }

    .cartSummaryBox{
        width: 100%;
        flex-basis: 100%;
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }
}

@media (min-width: 650px) and (max-width: 1200px) {
    .productContainer {
        justify-content: center;
    }
}

