.container {
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
    min-height: 50vh;
    width: 78%;
    gap: 20px;
    margin-left: 212px;
}

.containerCheckbox {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-sizing: border-box;

}

.button {
    color: #fb3578 !important;
    text-transform: none !important;
}


.title {
    display: flex;
    margin: 20px 220px ! important;
}



.emptyText {
    margin-left: 10px !important;
    color: var(--color-empty-text);
    background-color: var(--bg-empty-text);
    border-radius: 5px;
    width: 1259px;
    height: 48px;
    display: flex;          /* включаем flex */
    align-items: center;
    padding-left: 12px;
}

.productsList {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

@media screen and (max-width: 900px) {
    .container {
        width: 90%;
        max-width: 900px;
        margin-left: 16px;
    }
    .title {
    }
}
