.box{
    padding: 0 16px;
}

.container {
    display: flex;
    margin: 16px 0;
    min-height: 50vh;
    width: 78%;
    gap: 20px;

}

.containerCheckbox {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-sizing: border-box;

}

.button {
    color: #fb3578 !important;
    text-transform: none !important;
}


.title {

}



.emptyText {
    margin-left: 10px !important;
    color: var(--color-empty-text);
    background-color: var(--bg-empty-text);
    border-radius: 5px;
    width: 1259px;
    height: 48px;
    display: flex;          /* включаем flex */
    align-items: center;
    padding-left: 12px;
}

.productsList {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}


.cartSummaryBox{
    margin-top: -76px;
    display: flex;
}

@media screen and (max-width: 900px) {
    .container {
        min-width: 320px;
        width: 100%;
        margin-left: 16px;
        flex-direction: column;
    }
    .cartSummaryBox{
        margin-top: 20px;
        align-items: center;
        width: 100%;

    }
    .title{
        margin: 16px ! important;;
    }

}

@media screen and (min-width: 900px) and (max-width: 1200px) {
    .cartSummaryBox{
        display: flex;
        flex-wrap: wrap;
    }
}
