.box{
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 66%;


    flex-grow: 1;
    flex-basis: 645px;
    min-width: 0;
}

.containerCheckbox {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-sizing: border-box;
    width: 100%;


    min-width: 0;
}

.productContainer{
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
    gap: 20px;
}

.button {
    color: #fb3578 !important;
    text-transform: none !important;
}
.title{
    margin: 16px 0 !important;
}


.emptyText {
    margin-left: 10px !important;
    color: var(--color-empty-text);
    background-color: var(--bg-empty-text);
    border-radius: 5px;
    width: 1259px;
    height: 48px;
    display: flex;
    align-items: center;
    padding-left: 12px;
}

.productsList {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
}

.productsList > * {
    flex-grow: 0;
    flex-shrink: 0;
}




@media screen and (max-width: 887px) {
    .cartSummaryBox{
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
    }
    .container {
        width: 100%;
        min-width: 100%;
    }

    .cartSummaryBox{
        width: 100%;
        flex-basis: 100%;
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }
}


