.container {
    display: flex;
    margin: 20px 0;
    min-height: 50vh;
    width: 77.8%;
    gap: 20px;
}

.containerCheckbox {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-sizing: border-box;

}

.button {
    color: #fb3578 !important;
    text-transform: none !important;
}


.title {
    display: flex;
    margin: 20px 220px ! important;
}



.emptyText {
    margin-left: 10px !important;
    color: var(--color-empty-text);
    background-color: var(--bg-empty-text);
    border-radius: 5px;
    width: 1259px;
    height: 48px;
    display: flex;          /* включаем flex */
    align-items: center;
    padding-left: 12px;
}

.productsList {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

@media (max-width: 1024px) {
    .container {
        width: 100%;
        padding: 16px;
    }
    .title {
        margin: 16px ! important;
    }
}

@media (min-width: 1050px) and (max-width: 1499px) {
    .container {
        width: 100%;
    }

    .title {
        margin: 16px ! important;
    }
}
