.divider {
    margin-bottom: 10px;
    font-size: 16px;
    color: var(--divider-color);
    padding: 20px 0;
}

.divider::before,
.divider::after {
    border-top-color: var(--divider-color) !important;
}

.socialButtons {
    display: block;
    gap: 4px;
}

.socialButton {
    width: 175px;
    height: 60px;
    min-width: 0;
    padding: 0.25rem;
    color: #fff;
    font-weight: bold;
    border-radius: 0 !important;
}

.socialButton:not(:last-child) {
    margin-right: 4px;
}

.facebookButton {
    background-color: #3b5898 !important;
}

.googleButton {
    background-color: #4184f2 !important;
}

.vkButton {
    background-color: #5a78a5 !important;
}

@media screen and (max-width: 900px) {
    .socialButton {
        width: 112px !important;
    }
}